@import "../common/variables";

.content{
    min-height: calc(100vh - $infosection-height);
}
.project-info{
    display: flex;
    article{
        width: 50%;
        aspect-ratio: 1/1;
    }
    section{
        width: 50%;
        p{
            margin: 0;
        }
    }
}