.infosection {
  height: 400px;
  display: flex;
  section {
    height: 100%;
    &.my-image {
      aspect-ratio: 1/1;
    }
    &.my-info {
      display: flex;
      flex: auto;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    img {
      height: 100%;
      width: 100%;
    }
    ul {
      display: flex;
      li {
      }
    }
  }
  .name1 {
    font-size: 60px;
    font-weight: bold;
    text-align-last: left;
    width: 100%;
  }
  .name2 {
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    text-align: right;
    strong {
      color: #335dab;
    }
  }
}
