#sidebar {
  position: relative;
  height: 200vh;
  background-color: transparent;
  .sidebar {
    position: absolute;
    left: 10%;
    top: 100px;
    width: 80%;
    padding: 20px;
    font-size: 30px;
    background-color: #33312e;
    box-sizing: border-box;
    color: #8f8f8f;
    border-radius: 10px;
  }
  .button {
    cursor: pointer;
  }
  .button:hover {
    color: white;
  }
  .button.on{
    color: white;
  }

}
