@import "tailwindcss";
@layer theme, base, components, utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.0388 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.0388 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.0388 0 0);
  --primary: oklch(0.6 0.23 252.6);
  --dim: oklch(0 0 0 / 0.73);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.965 0 0);
  --secondary-foreground: oklch(0.09 0 0);
  --muted: oklch(0.965 0 0);
  --muted-foreground: oklch(0.451 0 0);
  --accent: oklch(0.965 0 0);
  --accent-foreground: oklch(0.09 0 0);
  --destructive: oklch(0.602 0.246 29);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.898 0 0);
  --input: oklch(0.898 0 0);
  --ring: oklch(0.0388 0 0);
  --chart-1: oklch(0.756 0.278 25);
  --chart-2: oklch(0.554 0.173 142);
  --chart-3: oklch(0.393 0.112 169);
  --chart-4: oklch(0.773 0.294 98);
  --chart-5: oklch(0.784 0.336 84);
  --radius: 0.5rem;
  --sidebar-background: oklch(0.98 0 0);
  --sidebar-foreground: oklch(0.261 0.015 240);
  --sidebar-primary: oklch(0.1 0.05 240);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.959 0.015 240);
  --sidebar-accent-foreground: oklch(0.1 0.05 240);
  --sidebar-border: oklch(0.91 0.05 220);
  --sidebar-ring: oklch(0.598 0.264 217);
}
.dark {
  --background: oklch(0.0388 0 0);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.0388 0 0);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.0388 0 0);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.98 0 0);
  --primary-foreground: oklch(0.09 0 0);
  --secondary: oklch(0.149 0 0);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.149 0 0);
  --muted-foreground: oklch(0.639 0 0);
  --accent: oklch(0.149 0 0);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.306 0.15 29);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.149 0 0);
  --input: oklch(0.149 0 0);
  --ring: oklch(0.831 0 0);
  --chart-1: oklch(0.7 0.21 220);
  --chart-2: oklch(0.6 0.19 160);
  --chart-3: oklch(0.55 0.25 30);
  --chart-4: oklch(0.6 0.24 280);
  --chart-5: oklch(0.55 0.25 340);
  --sidebar-background: oklch(0.1 0.05 240);
  --sidebar-foreground: oklch(0.959 0.015 240);
  --sidebar-primary: oklch(0.48 0.24 224);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.159 0.015 240);
  --sidebar-accent-foreground: oklch(0.959 0.015 240);
  --sidebar-border: oklch(0.159 0.015 240);
  --sidebar-ring: oklch(0.598 0.264 217);
}

@layer base {
  * {
    @reference border-border;
  }
  body {
    @reference bg-background text-foreground;
  }
}
